<% provide(:title, "Login") %>
<div class="container center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Log In</h1>
    <%= simple_form_for(:session, url: login_path) do |f| %>

          <%= f.input :email,
                            class: "form-control",
                            placeholder: "Email",
                            maxlength: User::EMAIL_LENGTH_MAX %>

          <%= f.input :password ,
                               class: "form-control",
                               placeholder: "Password",
                               maxlength: User::PASSWORD_LENGTH_MAX %>

        <div class="checkbox">
          <%= f.label :remember_me, class: "checkbox inline" do %>

              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
          <% end %>
        </div>
        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <p><%= link_to "Forgot password", new_password_reset_path, method: "get" %></p>
    </div>
  </div>
</div>
